# Created by https://www.toptal.com/developers/gitignore/api/react,vue
# Edit at https://www.toptal.com/developers/gitignore?templates=react,vue

### react ###
.DS_*
*.log
logs
**/*.backup.*
**/*.back.*

main_app/node_modules/
shop/node_modules/
bower_components

*.sublime*

psd
thumb
sketch

### Vue ###
# gitignore template for Vue.js projects
#
# Recommended template: Node.gitignore

# TODO: where does this rule come from?
docs/_book

# TODO: where does this rule come from?
test/
product/node_modules/
# End of https://www.toptal.com/developers/gitignore/api/react,vue